@model AzureAppINTEX.Models.ViewModels.HomePageViewModel


<style>
    .jumbotron {
        margin-bottom: 2rem; /* Adjust as needed for space below the jumbotron */
    }

    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

        .card img {
            object-fit: cover;
            width: 100%;
            height: 350px; /* Fixed height, adjust as needed */
        }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Adds margin below each column */
    .col-md-4 {
        margin-bottom: 2rem; /* Adjust as needed for space between rows of cards */
    }

    .jumbotron .col-md-6:first-child {
        padding-left: 4rem; /* Adjust this value as needed */
</style>


<div class="jumbotron jumbotron-fluid" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>@Model.MostPopularProduct.Name</h1>
                <p class="lead">$@Model.MostPopularProduct.Price.ToString("0.00")</p>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Item" asp-route-id="@Model.MostPopularProduct.ProductID">Shop Now</a>
            </div>
            <div class="col-md-6">
                <img src="@Model.MostPopularProduct.ImgLink" alt="@Model.MostPopularProduct.Name" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        @foreach (var product in Model.OtherPopularProducts)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@product.ImgLink" alt="@product.Name" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">$@product.Price.ToString("0.00")</p>
                        <a href="@Url.Action("Item", "Product", new { id = product.ProductID })" class="btn btn-primary">View Item</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
