@model AzureAppINTEX.Models.ViewModels.ProductsListViewModel

@{
    ViewData["Title"] = "Products List";

    // Pre-calculate selected attributes
    string selected5 = Model.PagingInfo.ItemsPerPage == 5 ? "selected" : "";
    string selected10 = Model.PagingInfo.ItemsPerPage == 10 ? "selected" : "";
    string selected20 = Model.PagingInfo.ItemsPerPage == 20 ? "selected" : "";
}

<h2>Products List</h2>
@{
    ViewData["Title"] = "Products List";
    var pageSizeOptions = new List<int> { 5, 10, 20 };
    var pageSizeSelectHtml = "";
    foreach (var option in pageSizeOptions)
    {
        if (Model.PagingInfo.ItemsPerPage == option)
        {
            pageSizeSelectHtml += $"<option value=\"{option}\" selected>{option}</option>";
        }
        else
        {
            pageSizeSelectHtml += $"<option value=\"{option}\">{option}</option>";
        }
    }
}

<form asp-action="ProductsList" method="get">
    <div class="form-group">
        <label for="pageSize">Items per page:</label>
        <select name="pageSize" id="pageSize" onchange="this.form.submit()">
            @Html.Raw(pageSizeSelectHtml)
        </select>
    </div>
</form>




<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="@item.ImgLink" alt="@item.Name">
                <div class="card-body">
                    <p class="card-text">@item.Name - @Html.DisplayFor(modelItem => item.Price)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Html.Partial("_Pagination", Model.PagingInfo)
