@model AzureAppINTEX.Models.ViewModels.CartIndexViewModel


<h2>Your cart</h2>
<table class="table">
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td>@line.Product.Name</td>
            <td>@line.Quantity</td>
            <td>@line.Product.Price</td>
            <td>
                <a asp-action="RemoveFromCart" asp-route-productId="@line.Product.ProductID"
                   asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-danger">
                    Remove
                </a>
            </td>
        </tr>
    }
</table>
<a asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">
    Continue Shopping
</a>
